.topheader {
box-shadow:  var(--navbar-shadow);
background-color: var(--theme-color);
position: fixed;
left: 0;
top: 0;
width: 100%;
z-index: 100;
}

.topnav {   
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

.dark-mode-btn,
.light-mode-btn {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;

    display: flex;
    align-items: center;

    margin-left: 20px;
    margin-right: 20px;
}

:root[data-theme="light"] .dark-mode-btn{
    display: none;
}

:root[data-theme="dark"] .light-mode-btn{
    display: none;
}
/* LOGO */
.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--accent-color);
    margin-right: auto;
}

.logo img {
    border-radius: 50%;
}

/* menu*/

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0px 15px;
}

.menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 65px;
    text-transform: uppercase; 
    position: relative;
}

.menu a::after {
    content: ""; /* sI NO ponemos contenido no se ve nada*/
    background-color: var(--secundary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;  
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu a.selected::after {
    opacity: 0.8;
}

.menu a:hover {
    color: var(--accent-color);
}
.open-menu,
.close-menu {
    display: none;
}
@media (max-width: 950px) {
/*menu*/
    .menu{ 
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%; 
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;

    }

    .menu li {
        padding: 0;
    }
    .menu a {
        color: var(--text-color-inverse);
        line-height: 70px;
        font-size: 25px;
    }

    .open-menu,
    .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-color);
    }
    .img1{
        filter: invert(0.4);
      }

.close-menu {
    align-self: flex-end;
    padding: 23px 20px;
}
    .menu_opened {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%; 
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        height: 100%;
        overflow-y: auto;
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s;
    }

    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
      outline: none;
    }

    .menu a::after {
        content: none; /* sI NO ponemos contenido no se ve nada*/
   
    }
   
    .menu a:hover,
    .menu a.selected {
        color: var(--secundary-color)
    }

    
}